* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  color: #500000;
  border: none;
}

input,
label {
  display: block;
  outline: none;
  width: 100%;
}

a {
  color: #780303;
}

body {
  background-image: url("C:\Users\amand\Desktop\Site\img\background.jpg");
  background-color: #cccccc;
}

/* form */
#main-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(221, 228, 231);
  border-radius: 10px;
  padding: 45px;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #780303;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

.site {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;
}

input[type="submit"] {
  background-color: #780303;
  color: #FFF;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
}

#agreement {
  margin-right: 5px;
}

#agreement,
#agreement-label {
  display: inline-block;
  width: auto;
}

.error-validation {
  color: #ff1a1a;
  position: absolute;
  top: 57px;
  font-size: 12px;
}

.template {
  display: none;
}

.form-group label {
  padding-left: 10px;
  padding-top: 4px;
  width: 100%;
}

.form-group {
  display: flex;
}

.periodo {
  cursor: pointer;
  appearance: none;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 5px;
  outline: none;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.input_curso {
  cursor: pointer;
  appearance: none;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 5px;
  outline: none;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
}

.wrapper {
  width: 100%;
  padding-bottom: 40px;
}

.periodo::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  background: #780303;
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.periodo:checked:before {
  opacity: 1;
}

.input_curso::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  background: #780303;
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.input_curso:checked:before {
  opacity: 1;
}

.site:invalid {
  border-color: red;
}

.site:valid {
  border-color: rgb(6, 146, 15);
}
